html, body {
  margin: 0; 
  padding: 0;
}

#imgPlace h1{
margin: 0; 
font-size: 40px; 
line-height: 0.5em;   
left:5px; 
text-transform: uppercase;
} 

strong{
color: #fff; 
background-color: #000; 
padding-bottom: 5px; 
padding-left: 10px; 
padding-right: 10px;
padding-top: 5px
} 

#imgPlace{ 
background-position: center; 
width: 100%; 
padding-top: 50px;
} 

#wikisummary{
background-color: #222;
width: 100%;
}

#paratext
{
padding-left: 30px;
padding-right: 10px;
color: #fff; 
font-family: Ubuntu;
font-size: 30px;
font-size: 3.5vw;
line-height: 1.5em 
} 

